<?xml version="1.0" encoding="UTF-8"?>
<Wix 
  xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
>

  <?include Config.wxi?>
  
  <Fragment>
    
    <DirectoryRef Id="INSTALLLOCATION">
    
      <Component Id="MarkPadFiles" Guid="4ac9e15b-89c1-4fde-84c9-286ef9d24af8">
        
        <RegistryKey Root="HKCU" Key="Software\Code52\MarkPad">
          <RegistryValue Name="Version" Value="[ProductVersion]" Type="string" KeyPath="yes" />
        </RegistryKey>
        
        <CreateFolder />
        
        <RemoveFolder Id="RemoveAppRootDirectory" On="uninstall" />
        
        <File Id="MarkPad.exe" Source="$(var.BUILDPATH)\MarkPad.exe">
          <netfx:NativeImage Id="ngen_evORElution.exe" Priority="0" AppBaseDirectory="INSTALLLOCATION" />
        </File>
        
        <File Id="MarkPad.exe.config" Source="$(var.BUILDPATH)\MarkPad.exe.config" />
      
      </Component>
      
      <Directory Id="Themes" Name="Themes">
        
        <Component Id="ThemesComponent" Guid="f1d42693-68f1-4872-a0ed-1ce4aa0565b9">
          
          <RegistryKey Root="HKCU" Key="Software\Code52\MarkPad">
            <RegistryValue Name="Version" Value="[ProductVersion]" Type="string" KeyPath="yes" />
          </RegistryKey>
          
          <RemoveFolder Id="ThemesComponent" On="uninstall" />
        
        </Component>
      
      </Directory>
    </DirectoryRef>

    <DirectoryRef Id="ApplicationProgramsFolder">
      
      <Component Id="ApplicationShortcut" Guid="7df38382-a59e-4b9c-ac3a-95ac91d15bc3">
        
        <Shortcut 
          Id="ApplicationStartMenuShortcut"
          Name="MarkPad"
          Description="MarkPad"
          Target="[INSTALLLOCATION]MarkPad.exe"
          WorkingDirectory="INSTALLLOCATION"
        />
        
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        
        <RegistryValue
          Root="HKCU"
          Key="Software\Code52\MarkPad"
          Name="installed"
          Type="integer"
          Value="1"
          KeyPath="yes"
        />
      
      </Component>
    
    </DirectoryRef>
  
  </Fragment>
</Wix>