<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="MarkPad" Language="1033" Version="1.0.0.0" Manufacturer="Code52" UpgradeCode="a57239ae-b389-4d48-bc6e-6cb96b34b7a6">
    <Package InstallerVersion="200" Compressed="yes" InstallPrivileges="limited" InstallScope="perUser" />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="INSTALLLOCATION" Name="MarkPad" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="MarkPad"/>
      </Directory>
    </Directory>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="7df38382-a59e-4b9c-ac3a-95ac91d15bc3">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="MarkPad"
                  Description="MarkPad"
                  Target="[INSTALLLOCATION]MarkPad.exe"
                  WorkingDirectory="INSTALLLOCATION"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Code52\MarkPad" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <Feature Id="ProductFeature" Title="MarkPad" Level="1">
      <ComponentRef Id="MarkPadFiles" />
      <ComponentRef Id="ThemesComponent"/>
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
    <UIRef Id="WixUI_Minimal" />
    <UI />
    <!-- "Top" banner when the app is actually installing -->
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />

    <!-- "side" image on EULA/etc-->
    <WixVariable Id="WixUIDialogBmp" Value="dlgbmp.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Icon Id="icon.ico" SourceFile="../MarkPad/markpad.ico"/>
  </Product>
</Wix>