<?xml version="1.0" encoding="UTF-8"?>
<Wix
  xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
>

  <?include Config.wxi?>
  <?include CommonWixInfo.wxi?>

  <Product
    Id="*"
    Name="MarkPad"
    Language="1033"
    Version="$(var.VERSION)"
    Manufacturer="$(var.COMPANY)"
    UpgradeCode="a57239ae-b389-4d48-bc6e-6cb96b34b7a6"
  >

    <Package
      Description="MarkPad"
      Manufacturer="$(var.COMPANY)"
      InstallerVersion="200"
      Compressed="yes"
      InstallPrivileges="limited"
      InstallScope="perUser"
      Platform="$(var.Platform)"
    />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Media Id="1" Cabinet="MarkpadSetup.cab" CompressionLevel="high" EmbedCab="yes" />

    <!-- Shown in the Programs and Features Control Panel -->
    <Icon Id="icon.ico" SourceFile="$(var.PROJECTPATH)/markpad.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="ARPHELPLINK" Value="http://code52.org/DownmarkerWPF/" />

    <Feature Id="ProductFeature" Title="MarkPad" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ThemesComponents" />
    </Feature>

    <PropertyRef Id="NETFRAMEWORK40FULL" />

    <Condition Message="This application requires .NET Framework 4.0 or later. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>

    <UI>
      <ProgressText Action="InstallInitialize">Installing [ProductName]</ProgressText>
    </UI>

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="LocalAppDataFolder">
        <Directory Id="MarkPadFolder" Name="MarkPad">
          <Directory Id="ThemeFolder" Name="Themes">
            <Directory Id="ChaosSquirrelFolder" Name="ChaosSquirrel" />
            <Directory Id="FunnelWebFolder" Name="FunnelWeb" />
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="MarkPadMenuFolder" Name="MarkPad" />
      </Directory>

    </Directory>
  </Fragment>
</Wix>