<?xml version="1.0" encoding="UTF-8"?>
<Wix
  xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
>

  <?include Config.wxi?>

  <Fragment>

    <ComponentGroup Id="ThemesComponents" Directory="ThemeFolder">

    </ComponentGroup>

  </Fragment>
</Wix>