<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863AF14B0044DA" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.5.2.830" newVersion="2.5.2.830"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
