<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.1.5" targetFramework="net40" />
  <package id="AvalonEdit" version="4.3.1.9430" targetFramework="net40" />
  <package id="Caliburn.Micro" version="1.5.1" targetFramework="net40" />
  <package id="Caliburn.Micro.Autofac" version="1.5.0" targetFramework="net40" />
  <package id="cef.redist.x64" version="3.2272.32" targetFramework="net4" />
  <package id="cef.redist.x86" version="3.2272.32" targetFramework="net4" />
  <package id="CefSharp.Common" version="41.0.0" targetFramework="net4" />
  <package id="CefSharp.Wpf" version="86.0.241" targetFramework="net4" />
  <package id="Fody" version="1.29.4" targetFramework="net40" developmentDependency="true" />
  <package id="MahApps.Metro" version="0.10.1.1" targetFramework="net40" />
  <package id="MarkdownDeep.NET" version="1.5" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.CompilerServices.AsyncTargetingPack" version="1.0.0" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net4" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net4" />
  <package id="NHunspell" version="1.1.0" targetFramework="net4" />
  <package id="Ookii.Dialogs" version="1.0" />
  <package id="PropertyChanged.Fody" version="1.50.1" targetFramework="net4" developmentDependency="true" />
  <package id="SettingsProviderNet" version="1.6.1" targetFramework="net4" />
  <package id="UITextBlock" version="1.0.0.0" targetFramework="net4" />
  <package id="Unofficial.Blend.Interactivity" version="1.0.0" targetFramework="net4" />
  <package id="xmlrpcnet" version="3.0.0.266" targetFramework="net4" />
</packages>