/*
Document Level
*/
body, div, span, p, a, img, table, th, tr, td, form, fieldset, legend, dl, dt, dd, blockquote, applet, object
{
	border: 0;
}
body
{
	background: #fff;
	color: #333;
	font: 80% "Segoe UI" , Sans-Serif;
	margin: 20px;
	padding: 0 20px;
	max-width: 950px;
	margin: 0 auto;
}
a
{
	color: #3865C6;
}
a:hover
{
}
a.new-window
{
	background: transparent url('../../Images/external.png') no-repeat scroll right center;
	padding: 0 13px 0 0;
}
p
{
	line-height: 130%;
	margin: 15px 0;
}
h1, h2, h3, h4, h5, h6
{
	margin: 15px 0 10px 0;
	font-weight: bold;
	font-family: "Trebuchet MS";
}
h1
{
	font-size: 17pt;
	font-weight: bold;
	margin: 35px 0 10px 0;
}
h2
{
	font-size: 16pt;
}
h3
{
	font-size: 14pt;
}
h4
{
	font-size: 12pt;
}
h5
{
	font-size: 11pt;
}

/* Header */

.header
{
	font-weight: bold;
	font-size: 14pt;
	height: 95px;
	padding: 3px;
	float: left;
	width: 280px;
}
.header a.logo
{
	text-decoration: none;
	display: block;
	margin-left: 0px;
	height: 90px;
}

/* Navigation */

.nav
{
	margin-bottom: 10px;
	font-family: "Trebuchet MS";
	float: right;
	text-align: right;
	margin-top: 30px;
	max-width: 620px;
}
.nav ul
{
	list-style: none;
	display: inline;
	float: right;
	margin: 0;
	padding: 0;
}
.nav ul li
{
	font-weight: bold;
	font-size: 12pt;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	margin-right: 0px;
	margin-top: 5px;
}
.nav ul li a
{
	display: block;
	padding: 3px 10px 3px 10px;
	text-align: center;
	text-decoration: underline;
}
.nav ul li a:hover, .nav ul li.active a:hover
{
	text-decoration: underline;
}
div.nav div.search
{
	padding-top: 10px;
	clear: both;
}

/* Introductions */

.intro
{
	padding: 10px 15px;
	margin: 0 15px;
	margin-top: 40px;
	float: right;
	width: 200px;
	-moz-background-clip: border-box;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding-box;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-background-clip: border-box;
	-webkit-background-inline-policy: continuous;
	-webkit-background-origin: padding-box;
	border-radius: 5px;
	background-clip: border-box;
	background-inline-policy: continuous;
	background-origin: padding-box;
}
.intro h1
{
	margin: 0;
	font-size: 14pt;
}
.intro p
{
	margin: 10px 0;
	font-weight: bold;
}

/* Table of posts */

.post-list
{
	float: left;
	width: 680px;
	margin-bottom: 20px;
}
.post-line
{
	display: block;
	border-bottom: 1px dotted #999;
	color: #777;
	min-height: 70px;
	padding-top: 7px;
	padding-bottom: 7px;
}
.post-line .revised
{
	float: left;
	font-weight: bold;
	color: #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-family: "Trebuchet MS" , Sans-Serif;
	height: 50px;
	margin: 5px;
	width: 76px;
	padding: 2px;
	text-align: center;
}
.post-line .revised .month
{
	font-size: 14pt;
}
.post-line .revised .year
{
	font-size: 11pt;
}
.post-line .comments
{
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #E4E4E4;
	color: #555;
	width: 76px;
	padding: 2px;
	text-align: center;
	float: left;
	font-family: "Trebuchet MS" , Sans-Serif;
	height: 50px;
	margin: 5px;
	text-align: center;
}
.post-line .comments .comment-count
{
	font-size: 14pt;
	display: block;
}
.post-line .comments a
{
	color: #555;
	text-decoration: none;
}
.post-list .post-line h2
{
	border-bottom: 0;
	margin: 5px 0 2px 0;
	padding: 0;
}
.post-line h2 a
{
	color: #555;
}
.post-line .summary
{
	margin-left: 185px;
}
.post-line p
{
	color: #999;
	margin: 0;
}

/* Content */
.body
{
	clear: both;
}
.content
{
	z-index: 10;
	min-height: 400px;
}
.content h1 a, .content h2 a
{
	text-decoration: none;
}

/* Comments */

.comments
{
	margin-top: 30px;
}
.comments-in
{
}
.comment
{
	padding: 10px 0;
	margin: 0px 0 0px 0;
}
.comment .comment-date
{
	font-weight: bold;
	float: right;
	margin: 5px;
	margin-top: 0px;
}
.comment .comment-body
{
	margin-left: 90px;
	margin-top: 5px;
}
.comment .comment-body p
{
	margin-top: 0px;
	margin-bottom: 17px;
}
.comment .comment-author
{
	float: left;
	background: #E4E4E4;
	width: 76px;
	padding: 2px;
	font-weight: bold;
	color: #555;
	text-align: center;
	margin-top: 00px;
	padding-top: 20px;
	padding-bottom: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
}
.comment .comment-author .fn
{
	color: #555;
	font-size: 13px;
	border: none;
}

/* Posting comments */

.form-body
{
	margin-top: 20px;
	max-width: 700px;
}
.form-body .editor-label
{
	float: left;
	font-weight: bold;
	padding-top: 6px;
	display: inline-block;
	width: 120px;
}
.form-body .editor-field
{
	margin-left: 140px;
	margin-bottom: 10px;
	min-height: 30px;
}
.form-body span.hint
{
	color: #666;
	font-family: Segoe UI;
	display: block;
}
.form-body textarea
{
	margin-top: 5px;
	margin-bottom: 5px;
	vertical-align: top;
}
.form-body .notification-wait
{
	color: #000;
	font-weight: bold;
}
.form-body h3
{
	margin-top: 30px;
	border-bottom: 1px solid #ccc;
}

/* Tables */

table
{
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 100%;
}
thead td, thead td.firstcolumn
{
	background: #e6e8e9;
	font-weight: bold;
}
th
{
	font-weight: bold;
	text-align: center;
}
th, td
{
	padding: 3px 20px 3px 7px;
	border: 1px solid #d1d1d1;
}
td.numeric
{
	text-align: right;
	padding-left: 20px;
}
td.date
{
	text-align: right;
	padding-left: 20px;
}
td.firstcolumn
{
	text-align: left;
	background: #f5f5f5;
}
.table
{
	margin: 15px 0;
}
.table div
{
	padding-top: 5px;
	text-align: left;
	clear: both;
	color: #0489B7;
	font-style: italic;
	font-size: 120%;
}

/* Definitions */

dl
{
	margin: 15px 0;
}
dt
{
	font-weight: bold;
}
dd
{
	margin-left: 30px;
}

/* Input */
input, textarea
{
	font-family: Consolas;
	background: #EAECED;
	border: 1px solid #cfcfcf;
	padding: 4px;
	font-size: 100%;
	width: auto;
}
textarea
{
	width: 500px;
}
input:focus, textarea:focus
{
	background: #EAECED;
	border: 1px solid #8f8f8f;
	padding: 4px;
	font-size: 100%;
}
input.small
{
	width: 50px;
}
input.medium
{
	width: 200px;
}
input.large
{
	width: 300px;
}
#wmd-preview
{
	background-color: #E0EAF1;
	border: 2px dotted #FFFFFF;
	clear: both;
	margin-top: 14px;
	padding: 3px;
	padding-left: 15px;
	padding-left: 15px;
}

/* vCard */

.vcard
{
	padding: 10px;
	border: 1px solid #d1d1d1;
	background: #e8e9ec;
	width: 400px;
}

.vcard .fn
{
	font-size: 160%;
	font-weight: normal;
	border-bottom: 1px solid #888;
	margin: 0 0 2px 0;
	padding: 0 0 2px 0;
}

.vcard .vcard-in
{
	background: url('../../Images/hCard.png') no-repeat right top;
	padding-left: 90px;
}

.vcard ul, .vcard ul li
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.vcard ul span, .vcard ul a
{
	font-weight: bold;
}
.vcard ul label
{
	font-weight: normal;
	width: 60px;
	display: inline-block;
	text-align: left;
}
.entry .vcard img.photo
{
	float: left;
	border: 1px solid #d1d1d1;
	padding: 3px;
	margin: 3px;
	background: #ffffff;
	vertical-align: middle;
}

/* Misc formatting */

abbr, acronym, .help
{
	border-bottom: 1px dotted #CCC;
	cursor: help;
}
blockquote
{
	margin: 15px 20px;
	font-style: italic;
}
del, .del
{
	text-decoration: line-through;
}
strong, .strong
{
	font-weight: bold;
}
cite, em, q, var
{
	font-style: italic;
}
code, kbd, samp, pre
{
	font-size: 11pt;
}
code, kbd, samp
{
	border: 0;
	color: Navy;
	font-family: "Consolas";
}
pre
{
	padding: 7px 12px;
	margin: 10px 0px 10px 0px;
	font-family: Consolas;
	width: auto;
	overflow: auto;
	max-height: 500px;
}
pre code
{
	font-weight: normal;
	font-family: Consolas;
}
.entry h1
{
	font-size: 17pt;
}
.entry h2
{
	font-size: 17pt;
}
.entry h3
{
	font-size: 15pt;
}
.entry h4
{
	font-size: 14pt;
}
.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6
{
	border: 0;
}
.entry
{
}
.entry img
{
	margin-left: 30px;
}
.entry-date
{
	float: left;
	width: 80px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: "Trebuchet MS" , Sans-Serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.entry-date .month
{
	font-size: 14pt;
}
.entry-date .year
{
	font-size: 11pt;
}
.entry-tools
{
	color: black;
	padding: 5px 5px 5px 5px;
	font-weight: bold;
	color: #555;
}
.entry-container
{
	margin-left: 90px;
}
.entry-tools span
{
	margin: 0px;
	padding: 0px;
}
.entry-tools a, .entry-tools a:active, entry-tools a:visited, .entry-tools a:hover
{
	color: #444;
	margin-right: 10px;
}
.message
{
	font-weight: bold;
}
p.good
{
	color: green;
	font-weight: bold;
}
p.bad
{
	color: #cc0000;
	font-weight: bold;
}
p.warning
{
	color: orange;
	font-weight: bold;
}
p.important
{
	color: black;
	font-weight: bold;
}


li.log-error
{
	color: #cc0000;
	font-weight: bold;
}
li.log-warning
{
	color: orange;
	font-weight: bold;
}
li.log-information
{
	color: black;
	font-weight: bold;
}

/* Trackbacks */

.trackbacks, .trackbacks a
{
	color: #777;
}
.trackbacks h2
{
	font-size: 10pt;
	font-weight: bold;
	border: 0;
	color: #777;
}

/*
    Search
    */

.search-list .search-line
{
	margin: 15px 0 15px 0;
	width: 600px;
}

.search-list .search-line h2
{
	font-size: 10pt;
	text-decoration: underline;
	font-family: Segoe UI;
	border: 0;
	margin: 0;
	padding: 0;
}
.search-list .search-line p
{
	padding: 0;
	margin: 0;
}
.search-list .search-line .revised
{
	color: green;
}
.search-input
{
	color: #999;
	margin-bottom: 20px;
	margin-top: 20px;
}
.search-input label
{
	margin-right: 20px;
}
.search p
{
	margin: 0;
	padding: 0;
}

/* Pagination */

.paginator
{
	border-top: 1px solid #eee;
	margin-top: 50px;
	margin-bottom: 20px;
	padding-top: 10px;
	background: #fafafa;
	padding: 5px 10px 5px 10px;
	color: #999;
	text-align: center;
	clear: both;
}

.paginator .page
{
	margin: 0 3px 0 3px;
}

/* Text length counters */

span.close
{
	color: maroon;
	background: lightpink;
	font-weight: bold;
}
.counter
{
	padding: 3px;
	background: #f0f0f0;
	width: 40px;
	margin-left: 3px;
	text-align: center;
	color: green;
}
/* Footer */

.footer
{
	border-top: 1px solid #f0f0f0;
	clear: both;
	color: #898989;
	line-height: 23px;
	margin: 10px 0 30px 0;
	text-align: center;
}
.footer a
{
	color: #797979;
}
.footer a:hover
{
	color: #3865C6;
}

/* Layout Helpers */

.noscreen
{
	display: none;
}

.validation-summary-errors
{
	background: #FFEEF2;
	border: 1px solid #CC3954;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.validation-summary-errors span
{
	font-weight: bold;
	color: #CC3954;
}
.validation-summary-errors ul li
{
	list-style-type: none;
}
.field-validation-error
{
	font-weight: bold;
	color: #CC3954;
	display: block;
}
.admin-link
{
	padding: 10px 0;
}
.admin-link h3
{
	font-size: 12pt;
	margin: 0;
	padding: 0;
}
.admin-link p
{
	margin: 0;
	padding: 0;
}

#wmd-button-bar
{
	background-color: White;
}

#wmd-input
{
	width: 600px;
}

#wmd-preview
{
}

#wmd-output
{
}

#wmd-button-row
{
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 0px;
	height: 20px;
}

.content ul li.wmd-spacer
{
	width: 1px;
	height: 20px;
	margin-left: 14px;
	padding: 0px;
	position: absolute;
	background-color: Silver;
	display: inline-block;
	list-style: none;
}

.content ul li.wmd-button
{
	width: 20px;
	height: 20px;
	margin-left: 5px;
	margin-right: 5px;
	position: absolute;
	background-image: url('../../Images/EditorButtons.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: inline-block;
	list-style: none;
	padding: 0px;
}

.wmd-button > a
{
	width: 20px;
	height: 20px;
	margin-left: 5px;
	margin-right: 5px;
	position: absolute;
	display: inline-block;
}


/* sprite button slicing style information */
#wmd-button-bar #wmd-bold-button
{
	left: 0px;
	background-position: 0px 0;
}
#wmd-button-bar #wmd-italic-button
{
	left: 25px;
	background-position: -20px 0;
}
#wmd-button-bar #wmd-spacer1
{
	left: 50px;
}
#wmd-button-bar #wmd-link-button
{
	left: 75px;
	background-position: -40px 0;
}
#wmd-button-bar #wmd-quote-button
{
	left: 100px;
	background-position: -60px 0;
}
#wmd-button-bar #wmd-code-button
{
	left: 125px;
	background-position: -80px 0;
}
#wmd-button-bar #wmd-image-button
{
	left: 150px;
	background-position: -100px 0;
}
#wmd-button-bar #wmd-spacer2
{
	left: 175px;
}
#wmd-button-bar #wmd-olist-button
{
	left: 200px;
	background-position: -120px 0;
}
#wmd-button-bar #wmd-ulist-button
{
	left: 225px;
	background-position: -140px 0;
}
#wmd-button-bar #wmd-heading-button
{
	left: 250px;
	background-position: -160px 0;
}
#wmd-button-bar #wmd-hr-button
{
	left: 275px;
	background-position: -180px 0;
}
#wmd-button-bar #wmd-spacer3
{
	left: 300px;
}
#wmd-button-bar #wmd-undo-button
{
	left: 325px;
	background-position: -200px 0;
}
#wmd-button-bar #wmd-redo-button
{
	left: 350px;
	background-position: -220px 0;
}
#wmd-button-bar #wmd-help-button
{
	right: 0px;
	background-position: -240px 0;
}


.wmd-prompt-background
{
	background-color: Black;
}

.wmd-prompt-dialog
{
	border: 1px solid #999999;
	background-color: #F5F5F5;
}

.wmd-prompt-dialog > div
{
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"]
{
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog > form > input[type="button"]
{
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}

/* Pretty printing styles. Used with prettify.js. */

.str
{
	color: #080;
}
.kwd
{
	color: #00008B;
}
.com
{
	color: #800;
}
.typ
{
	color: #2B91AF;
}
.lit
{
	color: #066;
}
.pun
{
	color: #000;
}
.pln
{
	color: #000;
}
.tag
{
	color: #008;
}
.atn
{
	color: #606;
}
.atv
{
	color: #080;
}
.dec
{
	color: #606;
}
pre.prettyprint
{
	font-family: Consolas;
	font-size: 11pt;
}

@media print
{
	.str
	{
		color: #060;
	}
	.kwd
	{
		color: #006;
		font-weight: bold;
	}
	.com
	{
		color: #600;
		font-style: italic;
	}
	.typ
	{
		color: #404;
		font-weight: bold;
	}
	.lit
	{
		color: #044;
	}
	.pun
	{
		color: #440;
	}
	.pln
	{
		color: #000;
	}
	.tag
	{
		color: #006;
		font-weight: bold;
	}
	.atn
	{
		color: #404;
	}
	.atv
	{
		color: #060;
	}
}

.boxes
{
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
}
.box4
{
	width: 217px;
	margin-right: 20px;
	float: left;
}
.box4 img, .box2 img, .box3 img
{
	padding: 0;
	margin: 0;
}
.box2
{
	width: 455px;
	margin-right: 20px;
	float: left;
}
.box3
{
	width: 216px;
	margin-right: 20px;
	float: left;
}

a.tag
{
	color: #ccc;
	padding: 1px 5px 1px 0;
}

/* tags */
#tags li
{
	list-style: none;
}

#tags input[type="text"]
{
	outline: none;
}

#tags .field
{
	clear: left;
	position: relative;
	zoom: 1;
	width: auto;
	height: auto;
	margin: 0 0 10px 50px;
	z-index: 100;
}

#tags label
{
	display: block;
	text-align: right;
	position: absolute;
	margin: 3px 0 0 -46px;
	width: 3.2em;
	font-size: 100%;
	color: black;
	font-weight: bold;
}

#tags input#tagInput
{
	width: 100%;
	height: 15px;
	background: white;
	padding: 0 !important;
	border: 1px solid white !important;
}

#tags .tagLines
{
	overflow: hidden;
	width: 332px;
	background: white;
	border: 1px solid #B9C1CA;
	padding: 2px 5px 0 5px;
}

#tags .tagInputContainer
{
	left: 12px;
}

#tags .tagLines li.newTagInputWrapper
{
	width: 100px;
	float: left;
	display: block;
	height: 17px;
	margin: 0 0 2px 0;
	padding: 0;
	background: white;
}

#tags .tagLines li.newTagInputWrapper input
{
	position: static !important;
	border: none !important;
	background: yellow !important;
	padding: 1px !important;
	background: white !important;
}

#tags .tagLines li.newTagItem
{
	float: left;
	position: relative;
	height: 17px;
	margin: 0 0 2px 0;
	padding: 0;
	background: white;
	border-right: 6px solid white;
}



#tags #tagsField .tagLines li.newTagItem a
{
	background: gainsboro;
	border: 1px solid gainsboro;
}

#tags .tagLines li.newTagItem a
{
	display: block;
	position: relative;
	padding: 0 15px 0 5px;
	color: black;
	cursor: pointer;
	height: 15px;
	background: #E8F1F7;
	_display: inline;
	_float: left;
	border: 1px solid #E8F1F7;
}

#tags a
{
	text-decoration: none;
	color: #1462C1;
}

#tags .tagLines li.newTagItem span
{
	position: absolute;
	top: 3px;
	right: 2px;
	height: 11px;
	width: 11px;
	background: transparent url('images/del_sprite_tagComplete.png') no-repeat 0 0;
}
.flash 
{
    clear: both;
}

.clear 
{
	clear:both;
	height:0px;
	margin:0px;
	width:0px;
}